services:
  squid:
    image: ubuntu/squid:latest
    ports:
      - "3128:3128"
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
      # - ./cache:/var/spool/squid # Uncomment if you want to persist log data
      - ./logs:/var/log/squid
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10g"
        max-file: "1"
